<h2>{{stock.yahooTicker}} - {{stock.name}}</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-default"
				ng-click="UpdateStock()">Uppdatera Aktie</button>
		</div>
		<div class="col-md-2">
			<p>Kategori :</p>
			<select ng-model="stock.label">
				<option value="gold">Guld</option>
				<option value="energy">Energi</option>
				<option value="teck">Teck</option>
				<option value="general">Allm&auml;nt</option>
			</select>
		</div>
		<div class="col-md-2">
			<p>Stopp-pris :</p>
			<input type="text" class="form-control" ng-model="stock.stopPrice" />
		</div>

		<div class="col-md-2">
			<p>:</p>
		</div>

		<div class="col-md-2">
			<p>:</p>
		</div>

		<div class="col-md-2">
			<p>:</p>
		</div>

	</div>
	<hr>
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-default"
				ng-click="AddTransaction()">Ny trans.</button>
		</div>
		<div class="col-md-2">
			<p>Typ :</p>
			<select ng-model="newType">
				<option value="buy">K&oumlp</option>
				<option value="sell">S&auml;lj</option>
			</select>
		</div>
		<div class="col-md-2">
			<p>Datum :</p>
			<p class="input-group">
				<input type="text" class="form-control"
					datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
					min-date="2010-01-01" max-date="'2015-06-22'"
					datepicker-options="dateOptions"
					date-disabled="disabled(date, mode)" ng-required="true"
					close-text="Close" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>

		<div class="col-md-2">
			<p>Antal :</p>
			<input type="text" class="form-control" ng-model="newShares" />
		</div>

		<div class="col-md-2">
			<p>Pris / aktie :</p>
			<input type="text" class="form-control" ng-model="newPrice" />
		</div>

		<div class="col-md-2">
			<p>Dep&aring :</p>
			<select ng-model="newPortfolio">
				<option value="Avanza ISK">Avanza ISK</option>
				<option value="Avanza Pension">Avanza Pension</option>
				<option value="Nordnet ISK">Nordnet ISK</option>
				<option value="Penntrade">Penntrade</option>
			</select>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Typ</th>
							<th>Datum</th>
							<th>Antal</th>
							<th>Pris / aktie</th>
							<th>Dep&aring</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in transactions | orderBy:'date'">
							<td>{{transaction.type}}</td>
							<td>{{transaction.date}}</td>
							<td>{{transaction.shares}}</td>
							<td>{{transaction.price}}</td>
							<td>{{transaction.portfolio}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>