<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul>
				<li class="nav-sidebar">
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="filterZeroStocks">
							Filtrera aktier med antal 0
						</label>
					</div>
				</li>
				<li class="nav-sidebar"><select ng-model="newLabel">
						<option value="gold">Guld</option>
						<option value="energy">Energi</option>
						<option value="teck">Teck</option>
						<option value="general">Allm&auml;nt</option>
				</select>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="newTicker" /> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button"
								ng-click="AddTicker()">L&auml;gg till!</button>
						</span>
					</div> <!-- /input-group --></li>
				<li class="nav-sidebar">
					<button class="btn btn-default" type="button" ng-click="Update()">Uppdatera</button>
				</li>
				<li class="nav-sidebar">
					<div ng-show="error">There was a problem with the Yahoo
						Finance API. Please try again later.</div>
				</li>
				<li class="nav-sidebar">
					<div class="table-responsive">
						<table class="table table-striped table-condensed">
							<tbody>
								<tr>
									<td>Totalt :</td>
									<td>{{sumValue}}</td>
								</tr>
								<tr>
									<td>Guld :</td>
									<td>{{goldValue}}</td>
								</tr>
								<tr>
									<td>Energi :</td>
									<td>{{energyValue}}</td>
								</tr>
								<tr>
									<td>Teck :</td>
									<td>{{teckValue}}</td>
								</tr>
								<tr>
									<td>Allm&auml;nt :</td>
									<td>{{generalValue}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="table-responsive">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th><a href=""
								ng-click="predicate = 'name'; reverse=!reverse">Namn</a> <span
								class="glyphicon"
								ng-class="predicate === 'name' && !reverse && 'glyphicon-arrow-up' || predicate === 'name' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th><a href=""
								ng-click="predicate = 'yahooTicker'; reverse=!reverse">Symbol</a>
								<span class="glyphicon"
								ng-class="predicate === 'yahooTicker' && !reverse && 'glyphicon-arrow-up' || predicate === 'yahooTicker' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th class="text-center"><a href=""
								ng-click="predicate = 'noShares'; reverse=!reverse">Antal</a> <span
								class="glyphicon"
								ng-class="predicate === 'noShares' && !reverse && 'glyphicon-arrow-up' || predicate === 'noShares' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th class="text-center"><a href=""
								ng-click="predicate = 'lastQuote'; reverse=!reverse">Senast</a>
								<span class="glyphicon"
								ng-class="predicate === 'lastQuote' && !reverse && 'glyphicon-arrow-up' || predicate === 'lastQuote' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th class="text-center"><a href=""
								ng-click="predicate = 'percentchange'; reverse=!reverse">+/-
									%</a><span class="glyphicon"
								ng-class="predicate === 'percentchange' && !reverse && 'glyphicon-arrow-up' || predicate === 'percentchange' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th class="text-center"><a href=""
								ng-click="predicate = 'sekValue'; reverse=!reverse">Markn.v&auml;rde</a>
								<span class="glyphicon"
								ng-class="predicate === 'sekValue' && !reverse && 'glyphicon-arrow-up' || predicate === 'sekValue' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th class="text-center"><a href=""
								ng-click="predicate = 'sekCostBasis'; reverse=!reverse">Ink&oumlp</a>
								<span class="glyphicon"
								ng-class="predicate === 'sekCostBasis' && !reverse && 'glyphicon-arrow-up' || predicate === 'sekValue' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
							<th class="text-center"><a href=""
								ng-click="predicate = 'label'; reverse=!reverse">Kategori</a> <span
								class="glyphicon"
								ng-class="predicate === 'label' && !reverse && 'glyphicon-arrow-up' || predicate === 'label' && reverse && 'glyphicon-arrow-down'"
								aria-hidden="true"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="stock in stocks | orderBy:predicate:reverse | filter: filterFunction">
							<td><a href="#/portfolio/{{stock.sid}}">{{stock.name}}</a></td>
							<td>{{stock.yahooTicker}}</td>
							<td class="text-center">{{stock.noShares}}</td>
							<td class="text-center"
								ng-style="stock.change === 0.0 && {'color': 'black'} ||
                  stock.change > 0.0 && {'color': 'green'} ||
                  stock.change < 0.0 && {'color': 'red'}">{{stock.lastQuote}}</td>
							<td class="text-center"
								ng-style="stock.change === 0.0 && {'color': 'black'} ||
                  stock.change > 0.0 && {'color': 'green'} ||
                  stock.change < 0.0 && {'color': 'red'}">{{stock.percentchange}}</td>
							<td class="text-center">{{stock.sekValue}}</td>
							<td class="text-center">{{stock.sekCostBasis}}</td>
							<td class="text-center">{{stock.label}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
